body {
    font-weight: 300;
    font-family: 'Bitter', serif;
}

#title {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: 400;
}

.focused-text {
    font-size: 20pt;
    line-height: 145%;
    font-family: 'Open Sans', sans-serif;
}

.main-text {
    font-size: 1.45em;
}

.heading {
    font-size: 2em;
    font-weight: bold;
    text-indent: 0em;
}

.subheading {
    font-size: 1.25em;
    font-weight: bold;
    text-indent: 0em;
}

.publist {
    line-height: 130%;
}

.menu-links {
    font-size: 20pt;
    font-family: 'Open Sans', sans-serif;
}

a.menu-links {
    font-weight: 325;
}

.pubitem {
    margin-bottom: 1em;
}

.authemph {
    font-weight: 375;
}

a {
    color: #005A9C;
    font-weight: 400;
    /* text-decoration: none; */
}

a.publist {
    font-weight: 350;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

li::marker {
    content:"[" counter(list-item)"] ";
}

.photo {
    /* width: 100%; */
    /* height: 475px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-left: 8em;
    padding-right: 8em;
}

h1 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    padding-top: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-color: #000000;
    border-style: solid none;
    border-width: 1px 0;
    opacity: 1;
    margin: 42pt 0;
    color: black;
}

.pubtitle {
    font-weight: 400;
    font-size: 1.05em;
}

.pub-details {
    font-size: 0.95em;
}